In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

### ROWS and CURRENT ROW
#### 2023 Monthly Net Revenue

In [2]:
%%sql

WITH monthly_sales AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM
    sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)
SELECT
  month,
  net_revenue,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN CURRENT ROW AND CURRENT ROW
  ) AS net_revenue_current
FROM monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  net_revenue_current
0   2023-01   3664431.34           3664431.34
1   2023-02   4465204.57           4465204.57
2   2023-03   2244316.52           2244316.52
3   2023-04   1162796.16           1162796.16
4   2023-05   2943005.99           2943005.99
5   2023-06   2864500.03           2864500.03
6   2023-07   2337639.34           2337639.34
7   2023-08   2623919.79           2623919.79
8   2023-09   2622774.85           2622774.85
9   2023-10   2551322.61           2551322.61
10  2023-11   2700103.38           2700103.38
11  2023-12   2928550.93           2928550.93

### N PRECEDING and N FOLLOWING
#### 2023 Monthly Net Revenue

In [3]:
%%sql

WITH monthly_sales AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM
    sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)
SELECT
  month,
  net_revenue,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN 1 PRECEDING AND CURRENT ROW
  ) AS net_revenue_current
FROM monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  net_revenue_current
0   2023-01   3664431.34           3664431.34
1   2023-02   4465204.57           4064817.96
2   2023-03   2244316.52           3354760.54
3   2023-04   1162796.16           1703556.34
4   2023-05   2943005.99           2052901.08
5   2023-06   2864500.03           2903753.01
6   2023-07   2337639.34           2601069.68
7   2023-08   2623919.79           2480779.57
8   2023-09   2622774.85           2623347.32
9   2023-10   2551322.61           2587048.73
10  2023-11   2700103.38           2625712.99
11  2023-12   2928550.93           2814327.15

In [4]:
%%sql

WITH monthly_sales AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM
    sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)
SELECT
  month,
  net_revenue,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN 1 PRECEDING AND CURRENT ROW
  ) AS net_revenue_preceding_1,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
  ) AS net_revenue_preceding_2,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN 3 PRECEDING AND CURRENT ROW
  ) AS net_revenue_preceding_3
FROM monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

,month,net_revenue,net_revenue_preceding_1,net_revenue_preceding_2,net_revenue_preceding_3
0,2023-01,3664431.34,3664431.34,3664431.34,3664431.34
1,2023-02,4465204.57,4064817.96,4064817.96,4064817.96
2,2023-03,2244316.52,3354760.54,3457984.14,3457984.14
3,2023-04,1162796.16,1703556.34,2624105.75,2884187.15
4,2023-05,2943005.99,2052901.08,2116706.22,2703830.81
5,2023-06,2864500.03,2903753.01,2323434.06,2303654.68
6,2023-07,2337639.34,2601069.68,2715048.45,2326985.38
7,2023-08,2623919.79,2480779.57,2608686.39,2692266.29
8,2023-09,2622774.85,2623347.32,2528111.33,2612208.50
9,2023-10,2551322.61,2587048.73,2599339.08,2533914.15
10,2023-11,2700103.38,2625712.99,2624733.61,2624530.16
11,2023-12,2928550.93,2814327.15,2726658.97,2700687.94

In [5]:
%%sql

WITH monthly_sales AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM
    sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)
SELECT
  month,
  net_revenue,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING
  ) AS net_revenue_current
FROM monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  net_revenue_current
0   2023-01   3664431.34           4064817.96
1   2023-02   4465204.57           3457984.14
2   2023-03   2244316.52           2624105.75
3   2023-04   1162796.16           2116706.22
4   2023-05   2943005.99           2323434.06
5   2023-06   2864500.03           2715048.45
6   2023-07   2337639.34           2608686.39
7   2023-08   2623919.79           2528111.33
8   2023-09   2622774.85           2599339.08
9   2023-10   2551322.61           2624733.61
10  2023-11   2700103.38           2726658.97
11  2023-12   2928550.93           2814327.15

### UNBOUNDED PRECEDING/FOLLOWING
#### 2023 Monthly Net Revenue

In [6]:
%%sql

WITH monthly_sales AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM
    sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)
SELECT
  month,
  net_revenue,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
  ) AS net_revenue_current
FROM monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  net_revenue_current
0   2023-01   3664431.34           2759047.13
1   2023-02   4465204.57           2759047.13
2   2023-03   2244316.52           2759047.13
3   2023-04   1162796.16           2759047.13
4   2023-05   2943005.99           2759047.13
5   2023-06   2864500.03           2759047.13
6   2023-07   2337639.34           2759047.13
7   2023-08   2623919.79           2759047.13
8   2023-09   2622774.85           2759047.13
9   2023-10   2551322.61           2759047.13
10  2023-11   2700103.38           2759047.13
11  2023-12   2928550.93           2759047.13

In [7]:
%%sql

WITH monthly_sales AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM
    sales
  WHERE EXTRACT(YEAR FROM orderdate) = 2023
  GROUP BY month
  ORDER BY month
)
SELECT
  month,
  net_revenue,
  AVG(net_revenue) OVER (
    ORDER BY month
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
  ) AS net_revenue_current
FROM monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  net_revenue_current
0   2023-01   3664431.34           3664431.34
1   2023-02   4465204.57           4064817.96
2   2023-03   2244316.52           3457984.14
3   2023-04   1162796.16           2884187.15
4   2023-05   2943005.99           2895950.92
5   2023-06   2864500.03           2890709.10
6   2023-07   2337639.34           2811699.14
7   2023-08   2623919.79           2788226.72
8   2023-09   2622774.85           2769843.18
9   2023-10   2551322.61           2747991.12
10  2023-11   2700103.38           2743637.69
11  2023-12   2928550.93           2759047.13

In [10]:
%%sql
WITH monthly_revenue AS(
    SELECT
      TO_CHAR(orderdate, 'YYYY-MM') AS month,
      SUM(quantity * netprice * exchangerate) AS net_revenue
    FROM
      sales
    WHERE EXTRACT(YEAR FROM orderdate) = 2023
    GROUP BY month
    ORDER BY month
)
SELECT
  *,
  FIRST_VALUE(net_revenue) OVER (ORDER BY month) AS first_month_revenue,
  LAST_VALUE(net_revenue) OVER (ORDER BY month ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS last_month_revenue,
  NTH_VALUE(net_revenue, 3) OVER (ORDER BY month ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS third_month_revenue
FROM monthly_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

,month,net_revenue,first_month_revenue,last_month_revenue,third_month_revenue
0,2023-01,3664431.34,3664431.34,2928550.93,2244316.52
1,2023-02,4465204.57,3664431.34,2928550.93,2244316.52
2,2023-03,2244316.52,3664431.34,2928550.93,2244316.52
3,2023-04,1162796.16,3664431.34,2928550.93,2244316.52
4,2023-05,2943005.99,3664431.34,2928550.93,2244316.52
5,2023-06,2864500.03,3664431.34,2928550.93,2244316.52
6,2023-07,2337639.34,3664431.34,2928550.93,2244316.52
7,2023-08,2623919.79,3664431.34,2928550.93,2244316.52
8,2023-09,2622774.85,3664431.34,2928550.93,2244316.52
9,2023-10,2551322.61,3664431.34,2928550.93,2244316.52
10,2023-11,2700103.38,3664431.34,2928550.93,2244316.52
11,2023-12,2928550.93,3664431.34,2928550.93,2244316.52