In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

### Create the VIEW
#### daily_revenue

In [2]:
%%sql

CREATE VIEW daily_revenue AS
SELECT
    orderdate,
    SUM(quantity * netprice * exchangerate) AS total_revenue
FROM sales
GROUP BY
    orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

### View the VIEW in Query

In [3]:
%%sql

SELECT *
FROM daily_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3294 rows affected.

       orderdate  total_revenue
0     2015-01-01       11640.80
1     2015-01-02        5890.40
2     2015-01-03       19796.67
3     2015-01-05       12406.27
4     2015-01-06       10349.87
...          ...            ...
3289  2024-04-16       25098.99
3290  2024-04-17       32938.67
3291  2024-04-18       28408.76
3292  2024-04-19       48386.88
3293  2024-04-20       96879.43

[3294 rows x 2 columns]

### Remove the VIEW
#### Delete with SQL Query

In [4]:
%%sql

DROP VIEW daily_revenue;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []