In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

###Creating VIEW - cohort_analysis

In [2]:
%%sql

CREATE OR REPLACE VIEW cohort_analysis AS
WITH customer_revenue AS (
	SELECT
		s.customerkey,
		s.orderdate,
		SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
		COUNT(s.orderkey) AS num_orders,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
	FROM
		sales s
	LEFT JOIN customer c ON
		c.customerkey = s.customerkey
	GROUP BY
		s.customerkey,
		s.orderdate,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
)
SELECT
	customerkey,
	orderdate,
	total_net_revenue,
	num_orders,
	countryfull,
	age,
	CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
	MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
	EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM
	customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

#### Get the customer's lifetime value (LTV).

In [3]:
%%sql

SELECT
    customerkey,
    cleaned_name,
    SUM(total_net_revenue) AS total_ltv
FROM cohort_analysis
GROUP BY
    customerkey,
    cleaned_name

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey          cleaned_name  total_ltv
0           235068        Monica Walters    5606.21
1            26526      Joseph Macnamara    3168.44
2           109348           Sara Toosey    1393.98
3           121924           Lola Leidig    1141.38
4           461939            Tim Dreher     361.09
...            ...                   ...        ...
49482      1920423       Nicklas Poulsen    8593.72
49483       987512         Georgia Potts     174.12
49484       828578  Geoffry van den Berk    3996.15
49485      1922450       Prisc Villareal    4550.41
49486      1065888       Isobel Davidson    2907.77

[49487 rows x 3 columns]

#### Get the 25th and 75th percentile of the LTV.

In [4]:
%%sql

-- Put previous main query into a CTE
WITH customer_ltv AS (
    SELECT
        customerkey,
        cleaned_name,
        SUM(total_net_revenue) AS total_ltv
    FROM cohort_analysis
    GROUP BY
        customerkey,
        cleaned_name
)

SELECT
    PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY total_ltv) AS ltv_25th_percentile,
    PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY total_ltv) AS ltv_75th_percentile
FROM customer_ltv;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   ltv_25th_percentile  ltv_75th_percentile
0               843.59              5584.04

#### Using the 25th and 75th percentile to segment the customers into High, Mid, and Low-value segments.

In [5]:
%%sql

WITH customer_ltv AS (
    SELECT
        customerkey,
        cleaned_name,
        SUM(total_net_revenue) AS total_ltv
    FROM cohort_analysis
    GROUP BY
        customerkey,
        cleaned_name
),

-- Put previous main query into a CTE
customer_segments AS (
    SELECT
        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY total_ltv) AS percentile_25th,
        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY total_ltv) AS percentile_75th
    FROM customer_ltv
)

-- Add the segments to the main query
SELECT
    c.customerkey,
    c.cleaned_name,
    c.total_ltv,
    CASE
        WHEN c.total_ltv < percentile_25th THEN '1 - Low-Value'
        WHEN c.total_ltv BETWEEN percentile_25th AND percentile_75th THEN '2 - Mid-Value'
        ELSE '3 - High-Value'
    END AS customer_segment
FROM customer_ltv c,
    customer_segments cs;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey          cleaned_name  total_ltv customer_segment
0           235068        Monica Walters    5606.21   3 - High-Value
1            26526      Joseph Macnamara    3168.44    2 - Mid-Value
2           109348           Sara Toosey    1393.98    2 - Mid-Value
3           121924           Lola Leidig    1141.38    2 - Mid-Value
4           461939            Tim Dreher     361.09    1 - Low-Value
...            ...                   ...        ...              ...
49482      1920423       Nicklas Poulsen    8593.72   3 - High-Value
49483       987512         Georgia Potts     174.12    1 - Low-Value
49484       828578  Geoffry van den Berk    3996.15    2 - Mid-Value
49485      1922450       Prisc Villareal    4550.41    2 - Mid-Value
49486      1065888       Isobel Davidson    2907.77    2 - Mid-Value

[49487 rows x 4 columns]

#### Get the total revenue for each customer segment.

In [6]:
%%sql

WITH customer_ltv AS (
    SELECT
        customerkey,
        SUM(total_net_revenue) AS total_ltv
    FROM cohort_analysis
    GROUP BY customerkey
),

customer_segments AS (
    SELECT
        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY total_ltv) AS percentile_25th,
        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY total_ltv) AS percentile_75th
    FROM customer_ltv
),

-- Put previous main query into a CTE
segement_values AS (
    SELECT
        c.customerkey,
        c.total_ltv,
        CASE
            WHEN c.total_ltv < percentile_25th THEN '1 - Low-Value'
            WHEN c.total_ltv BETWEEN percentile_25th AND percentile_75th THEN '2 - Mid-Value'
            ELSE '3 - High-Value'
        END AS customer_segment
    FROM customer_ltv c,
    customer_segments cs
)

SELECT
    customer_segment,
    SUM(total_ltv) AS total_ltv,
    SUM(total_ltv) / (SELECT SUM(total_ltv) FROM segement_values) AS ltv_percentage,
    COUNT(customerkey) AS customer_count,
    SUM(total_ltv) / COUNT(customerkey) AS avg_ltv
FROM segement_values
GROUP BY customer_segment
ORDER BY total_ltv DESC
;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

  customer_segment    total_ltv  ltv_percentage  customer_count  avg_ltv
0   3 - High-Value 135429277.27            0.66           12372 10946.43
1    2 - Mid-Value  66636451.79            0.32           24743  2693.14
2    1 - Low-Value   4341809.53            0.02           12372   350.94