In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

### Optimize Cohort Analysis View

In [2]:
%%sql

CREATE OR REPLACE VIEW cohort_analysis AS
WITH customer_revenue AS (
	SELECT
		s.customerkey,
		s.orderdate,
		SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
		COUNT(s.orderkey) AS num_orders,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
	FROM
		sales s
	LEFT JOIN customer c ON
		c.customerkey = s.customerkey
	GROUP BY
		s.customerkey,
		s.orderdate,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
)
SELECT
	customerkey,
	orderdate,
	total_net_revenue,
	num_orders,
	countryfull,
	age,
	CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
	MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
	EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM
	customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

#### Query Optimization


#####Use EXPLAIN ANALYZE to find ways to optimize it better.

In [3]:
%%sql

EXPLAIN ANALYZE
WITH customer_revenue AS (
	SELECT
		s.customerkey,
		s.orderdate,
		SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
		COUNT(s.orderkey) AS num_orders,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
	FROM
		sales s
	LEFT JOIN customer c ON
		c.customerkey = s.customerkey
	GROUP BY
		s.customerkey,
		s.orderdate,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
)
SELECT
	customerkey,
	orderdate,
	total_net_revenue,
	num_orders,
	countryfull,
	age,
	CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
	MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
	EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM
	customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

20 rows affected.

                                           QUERY PLAN
0   WindowAgg  (cost=23683.88..52959.34 rows=19987...
1     ->  Finalize GroupAggregate  (cost=23683.88....
2           Group Key: s.customerkey, s.orderdate,...
3           ->  Gather Merge  (cost=23683.88..4161...
4                                  Workers Planned: 1
5                                 Workers Launched: 1
6                 ->  Partial GroupAggregate  (cos...
7                       Group Key: s.customerkey, ...
8                       ->  Sort  (cost=22683.87.....
9                             Sort Key: s.customer...
10                            Sort Method: externa...
11                            Worker 0:  Sort Meth...
12                            ->  Parallel Hash Le...
13                                  Hash Cond: (s....
14                                  ->  Parallel S...
15                                  ->  Parallel H...
16                                        Buckets:...
17                                        ->  Para...
18                            Planning Time: 1.063 ms
19                         Execution Time: 467.281 ms

#####Use INNER JOIN in the customer_revenue CTE.

In [4]:
%%sql

WITH customer_revenue AS (
	SELECT
		s.customerkey,
		s.orderdate,
		SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
		COUNT(s.orderkey) AS num_orders,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
	FROM
		sales s
	INNER JOIN customer c
		ON c.customerkey = s.customerkey -- Update
	GROUP BY
		s.customerkey,
		s.orderdate,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
)
SELECT
	customerkey,
	orderdate,
	total_net_revenue,
	num_orders,
	countryfull,
	age,
	CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
	MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
	EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM
	customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83099 rows affected.

,customerkey,orderdate,total_net_revenue,num_orders,countryfull,age,cleaned_name,first_purchase_date,cohort_year
0,15,2021-03-08,2217.41,1,Australia,55,Julian McGuigan,2021-03-08,2021
1,180,2018-07-28,525.31,1,Australia,65,Gabriel Bosanquet,2018-07-28,2018
2,180,2023-08-28,1984.90,2,Australia,65,Gabriel Bosanquet,2018-07-28,2018
3,185,2019-06-01,1395.52,1,Australia,40,Gabrielle Castella,2019-06-01,2019
4,243,2016-05-19,287.67,1,Australia,66,Maya Atherton,2016-05-19,2016
...,...,...,...,...,...,...,...,...,...
83094,2099697,2022-09-13,38.20,3,United States,54,Phillipp Maier,2022-09-13,2022
83095,2099711,2016-08-13,2067.75,1,United States,80,Katerina Pavlícková,2016-08-13,2016
83096,2099711,2017-08-14,3940.92,1,United States,80,Katerina Pavlícková,2016-08-13,2016
83097,2099743,2022-03-17,469.62,2,United States,21,Luciana Almonte,2022-03-17,2022
83098,2099743,2023-02-11,598.46,1,United States,21,Luciana Almonte,2022-03-17,2022

#####Using EXPLAIN ANALYZE again.

In [5]:
%%sql

EXPLAIN ANALYZE
WITH customer_revenue AS (
	SELECT
		s.customerkey,
		s.orderdate,
		SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
		COUNT(s.orderkey) AS num_orders,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
	FROM
		sales s
	INNER JOIN customer c
		ON c.customerkey = s.customerkey -- Update
	GROUP BY
		s.customerkey,
		s.orderdate,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
)
SELECT
	customerkey,
	orderdate,
	total_net_revenue,
	num_orders,
	countryfull,
	age,
	CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
	MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
	EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM
	customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

20 rows affected.

                                           QUERY PLAN
0   WindowAgg  (cost=23683.88..52959.34 rows=19987...
1     ->  Finalize GroupAggregate  (cost=23683.88....
2           Group Key: s.customerkey, s.orderdate,...
3           ->  Gather Merge  (cost=23683.88..4161...
4                                  Workers Planned: 1
5                                 Workers Launched: 1
6                 ->  Partial GroupAggregate  (cos...
7                       Group Key: s.customerkey, ...
8                       ->  Sort  (cost=22683.87.....
9                             Sort Key: s.customer...
10                            Sort Method: externa...
11                            Worker 0:  Sort Meth...
12                            ->  Parallel Hash Jo...
13                                  Hash Cond: (s....
14                                  ->  Parallel S...
15                                  ->  Parallel H...
16                                        Buckets:...
17                                        ->  Para...
18                            Planning Time: 0.525 ms
19                         Execution Time: 513.111 ms

#####Add MAX to the following columns in customer_revenue and remove those columns in the GROUP BY statement: countryfull, age, givenname, and surname.

In [6]:
%%sql

WITH customer_revenue AS (
    SELECT
        s.customerkey,
        s.orderdate,
        SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
        COUNT(s.orderkey) AS num_orders,
        MAX(c.countryfull) AS countryfull,
        MAX(c.age) AS age,
        MAX(c.givenname) AS givenname,
        MAX(c.surname) AS surname
    FROM sales s
    INNER JOIN customer c ON c.customerkey = s.customerkey
    GROUP BY
        s.customerkey,
        s.orderdate
)
SELECT
    customerkey,
    orderdate,
    total_net_revenue,
    num_orders,
    countryfull,
    age,
    CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
    MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
    EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83099 rows affected.

,customerkey,orderdate,total_net_revenue,num_orders,countryfull,age,cleaned_name,first_purchase_date,cohort_year
0,15,2021-03-08,2217.41,1,Australia,55,Julian McGuigan,2021-03-08,2021
1,180,2018-07-28,525.31,1,Australia,65,Gabriel Bosanquet,2018-07-28,2018
2,180,2023-08-28,1984.90,2,Australia,65,Gabriel Bosanquet,2018-07-28,2018
3,185,2019-06-01,1395.52,1,Australia,40,Gabrielle Castella,2019-06-01,2019
4,243,2016-05-19,287.67,1,Australia,66,Maya Atherton,2016-05-19,2016
...,...,...,...,...,...,...,...,...,...
83094,2099697,2022-09-13,38.20,3,United States,54,Phillipp Maier,2022-09-13,2022
83095,2099711,2016-08-13,2067.75,1,United States,80,Katerina Pavlícková,2016-08-13,2016
83096,2099711,2017-08-14,3940.92,1,United States,80,Katerina Pavlícková,2016-08-13,2016
83097,2099743,2022-03-17,469.62,2,United States,21,Luciana Almonte,2022-03-17,2022
83098,2099743,2023-02-11,598.46,1,United States,21,Luciana Almonte,2022-03-17,2022

####Run the EXPLAIN ANALYZE plan again to check on improvements

In [7]:
%%sql

EXPLAIN ANALYZE
WITH customer_revenue AS (
    SELECT
        s.customerkey,
        s.orderdate,
        SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
        COUNT(s.orderkey) AS num_orders,
        MAX(c.countryfull) AS countryfull,
        MAX(c.age) AS age,
        MAX(c.givenname) AS givenname,
        MAX(c.surname) AS surname
    FROM sales s
    INNER JOIN customer c ON c.customerkey = s.customerkey
    GROUP BY
        s.customerkey,
        s.orderdate
)
SELECT
    customerkey,
    orderdate,
    total_net_revenue,
    num_orders,
    countryfull,
    age,
    CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
    MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
    EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

20 rows affected.

                                           QUERY PLAN
0   WindowAgg  (cost=23683.88..34086.10 rows=36667...
1     ->  Finalize GroupAggregate  (cost=23683.88....
2               Group Key: s.customerkey, s.orderdate
3           ->  Gather Merge  (cost=23683.88..3170...
4                                  Workers Planned: 1
5                                 Workers Launched: 1
6                 ->  Partial GroupAggregate  (cos...
7                       Group Key: s.customerkey, ...
8                       ->  Sort  (cost=22683.87.....
9                             Sort Key: s.customer...
10                            Sort Method: externa...
11                            Worker 0:  Sort Meth...
12                            ->  Parallel Hash Jo...
13                                  Hash Cond: (s....
14                                  ->  Parallel S...
15                                  ->  Parallel H...
16                                        Buckets:...
17                                        ->  Para...
18                            Planning Time: 1.622 ms
19                         Execution Time: 488.436 ms

####Update the view with the new optimized query.

In [8]:
%%sql

DROP VIEW cohort_analysis;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

In [9]:
%%sql

CREATE OR REPLACE VIEW cohort_analysis AS
WITH customer_revenue AS (
    SELECT
        s.customerkey,
        s.orderdate,
        SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
        COUNT(s.orderkey) AS num_orders,
        MAX(c.countryfull) AS countryfull,
        MAX(c.age) AS age,
        MAX(c.givenname) AS givenname,
        MAX(c.surname) AS surname
    FROM sales s
    INNER JOIN customer c ON c.customerkey = s.customerkey
    GROUP BY
        s.customerkey,
        s.orderdate
)
SELECT
    customerkey,
    orderdate,
    total_net_revenue,
    num_orders,
    countryfull,
    age,
    CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
    MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
    EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []