In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

# Advanced Segmentation

## Categorize
* "High Value Order" if quantity >= 2 and netprice >= 50
* "Standard Order" otherwise

### Using AND in CASE WHEN

In [2]:
%%sql

SELECT
    orderdate,
    quantity,
    netprice,
    CASE
        WHEN quantity >= 2 AND netprice >= 50 THEN 'High Value Order'
        ELSE 'Standard Order'
    END AS order_type
FROM
    sales
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  quantity  netprice        order_type
0  2015-01-01         1     98.97    Standard Order
1  2015-01-01         1    659.78    Standard Order
2  2015-01-01         2     54.38  High Value Order
3  2015-01-01         4    286.69  High Value Order
4  2015-01-01         7    135.75  High Value Order
5  2015-01-01         3    434.30  High Value Order
6  2015-01-01         1     58.73    Standard Order
7  2015-01-01         3     74.99  High Value Order
8  2015-01-01         2    113.57  High Value Order
9  2015-01-01         1    499.45    Standard Order

## Categorize
* "Multiple High Value Items" if quantity >= 2 and netprice >= 100
* "Single High Value Item" if netprice >= 100
* "Multiple Standard Items" if quantity >= 2
* "Single Standard Item" otherwise

### Using Multiple WHEN Clauses in a Single Case Block

In [3]:
%%sql

SELECT
    orderdate,
    quantity,
    netprice,
    CASE
        WHEN quantity >= 2 AND netprice >= 100 THEN 'Multiple High Value Items'
        WHEN netprice >= 100 THEN 'Single Value Item'
        WHEN quantity >= 2 THEN 'Multiple Standard Items'
        ELSE 'Single Standard Item'
    END AS order_type
FROM
    sales
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  quantity  netprice                 order_type
0  2015-01-01         1     98.97       Single Standard Item
1  2015-01-01         1    659.78          Single Value Item
2  2015-01-01         2     54.38    Multiple Standard Items
3  2015-01-01         4    286.69  Multiple High Value Items
4  2015-01-01         7    135.75  Multiple High Value Items
5  2015-01-01         3    434.30  Multiple High Value Items
6  2015-01-01         1     58.73       Single Standard Item
7  2015-01-01         3     74.99    Multiple Standard Items
8  2015-01-01         2    113.57  Multiple High Value Items
9  2015-01-01         1    499.45          Single Value Item

### Using AND for Multiple Conditions
####Segmenting orders by Median

In [4]:
%%sql

WITH median_value AS (
    SELECT
      PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS median
    FROM
      sales s
    WHERE
      orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)

SELECT
  p.categoryname AS category,
  SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) < mv.median
          AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
      THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_net_revenue_2022,
  SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) >= mv.median
          AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
      THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_net_revenue_2022,
  SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) < mv.median
          AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
      THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_net_revenue_2023,
  SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) >= mv.median
          AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
      THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_net_revenue_2023
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey,
  median_value mv
GROUP BY
  p.categoryname
ORDER BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,low_net_revenue_2022,high_net_revenue_2022,low_net_revenue_2023,high_net_revenue_2023
0,Audio,222337.83,544600.39,180251.13,508439.06
1,Cameras and camcorders,133004.54,2249528.02,104869.46,1878676.83
2,Cell phones,814449.53,7305215.55,729699.39,5272448.24
3,Computers,624340.42,17237873.07,590790.31,11060076.90
4,Games and Toys,231979.63,84147.67,206103.36,64271.60
5,Home Appliances,219797.07,6392649.61,176261.35,5743731.52
6,"Music, Movies and Audio Books",685808.49,2303488.80,574958.76,1605809.37
7,TV and Video,272338.29,5542998.32,164275.35,4247902.87

### Using Multiple WHEN Clauses in CASE
#### Segmenting Orders by Percentiles
#### Categorize each sale using a CASE statement:
* "Low" for revenue below the 25th percentile
* "Medium" for revenue between the 25th and 75th percentile
* "High" for revenue above the 75th percentile
#### Aggregate total net revenue for each category and tier using SUM(quantiy * netprice * exchangerate)
#### Group the results by categoryname and revenue_tier for meaningful segmentation.

In [5]:
%%sql

WITH percentiles AS (
    SELECT
      PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS revenue_25th_percentile,
      PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS revenue_75th_percentile
    FROM
      sales s
    WHERE
      orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)

SELECT
  p.categoryname AS category,
  CASE
      WHEN (s.quantity * s.netprice * s.exchangerate) <= pctl.revenue_25th_percentile THEN '3 - LOW'
      WHEN (s.quantity * s.netprice * s.exchangerate) >= pctl.revenue_75th_percentile THEN '1 - HIGH'
      ELSE '2 - MEDIUM'
  END AS revenue_tier,
  SUM(s.quantity * s.netprice * s.exchangerate) AS total_revenue
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey,
  percentiles pctl
GROUP BY
  p.categoryname,
  revenue_tier
ORDER BY
  p.categoryname,
  revenue_tier

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

                         category revenue_tier  total_revenue
0                           Audio     1 - HIGH     1213265.71
1                           Audio   2 - MEDIUM     3832415.38
2                           Audio      3 - LOW      267217.01
3         Cameras and camcorders      1 - HIGH    15050781.63
4         Cameras and camcorders    2 - MEDIUM     3388546.10
5         Cameras and camcorders       3 - LOW       81032.92
6                     Cell phones     1 - HIGH    21874993.15
7                     Cell phones   2 - MEDIUM    10338963.22
8                     Cell phones      3 - LOW      410309.35
9                       Computers     1 - HIGH    79607760.89
10                      Computers   2 - MEDIUM    10808054.11
11                      Computers      3 - LOW      203207.06
12                 Games and Toys     1 - HIGH      133749.09
13                 Games and Toys   2 - MEDIUM     1001381.91
14                 Games and Toys      3 - LOW      533443.13
15                Home Appliances     1 - HIGH    22383475.30
16                Home Appliances   2 - MEDIUM     4118724.64
17                Home Appliances      3 - LOW      105045.60
18  Music, Movies and Audio Books     1 - HIGH     3844996.29
19  Music, Movies and Audio Books   2 - MEDIUM     6100817.99
20  Music, Movies and Audio Books      3 - LOW      642496.71
21                   TV and Video     1 - HIGH    16632856.33
22                   TV and Video   2 - MEDIUM     3766783.30
23                   TV and Video      3 - LOW       67221.76