In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

###DATE_TRUNC()
#### Revenue and Customers by Month

In [2]:
%%sql

SELECT
  DATE_TRUNC('month', orderdate)::date AS order_month,
  SUM(quantity * netprice * exchangerate) AS net_revenue,
  COUNT(DISTINCT customerkey) AS total_unique_customers
FROM
  sales
GROUP BY
  order_month

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

    order_month  net_revenue  total_unique_customers
0    2015-01-01    384092.66                     200
1    2015-02-01    706374.12                     291
2    2015-03-01    332961.59                     139
3    2015-04-01    160767.00                      78
4    2015-05-01    548632.63                     236
..          ...          ...                     ...
107  2023-12-01   2928550.93                    1484
108  2024-01-01   2677498.55                    1340
109  2024-02-01   3542322.55                    1718
110  2024-03-01   1692854.89                     877
111  2024-04-01    483851.39                     246

[112 rows x 3 columns]

### TO_CHAR()
#### Revenue and Customers by Month

In [3]:
%%sql

SELECT
  TO_CHAR(orderdate, 'YYYY-MM') AS order_month,
  SUM(quantity * netprice * exchangerate) AS net_revenue,
  COUNT(DISTINCT customerkey) AS total_unique_customers
FROM
  sales
GROUP BY
  order_month

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

    order_month  net_revenue  total_unique_customers
0       2015-01    384092.66                     200
1       2015-02    706374.12                     291
2       2015-03    332961.59                     139
3       2015-04    160767.00                      78
4       2015-05    548632.63                     236
..          ...          ...                     ...
107     2023-12   2928550.93                    1484
108     2024-01   2677498.55                    1340
109     2024-02   3542322.55                    1718
110     2024-03   1692854.89                     877
111     2024-04    483851.39                     246

[112 rows x 3 columns]